body {
	margin: 0 70px;
	background-color: grey;
}

h1 {
	font-size: 69px;
}

.jumbotron {
	background-color: black;
	color: white;
	border-radius: 5px;
}

.panel-primary {
	border-color: black;
}

.panel-primary>.panel-heading {
	background: black;
}